In [6]:
#Q1
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Q2
data = [2,5,31,67,45,22,99,78,87,12]
series = pd.Series(data)
series

0     2
1     5
2    31
3    67
4    45
5    22
6    99
7    78
8    87
9    12
dtype: int64

In [37]:
#Q3
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df.to_string(index=False))

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

In [ ]:
#Q4
In pandas, a DataFrame is a two-dimensional data structure that stores and organizes data in a tabular 
format. It consists of rows and columns, similar to a spreadsheet or a SQL table. Each column in a DataFrame 
represents a variable or feature, while each row represents an observation or data point.

On the other hand, a Series in pandas is a one-dimensional array-like object that can hold any data type. 
It is similar to a column in a DataFrame. A Series contains an index that labels each element in the Series, 
providing a way to access the data.

To illustrate the difference between a DataFrame and a Series, let's consider an example:

import pandas as pd

# Example DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Example Series
ages = df['Age']

In this example, we have a DataFrame df that contains three columns: 'Name', 'Age', and 'Gender'. Each
column represents a Series within the DataFrame. For instance, we can access the 'Age' column by df['Age'], 
which returns a Series ages containing the ages of the individuals.

The DataFrame df provides a tabular structure where we can work with multiple columns simultaneously. It allows 
us to perform various operations, such as filtering, grouping, and merging, on the data as a whole.

On the other hand, the Series ages represents a one-dimensional array-like object that holds the ages of 
the individuals. It has an index associated with it, allowing us to access specific elements or perform 
operations on the series.

In summary, a DataFrame is a tabular structure consisting of multiple columns, while a Series is a 
one-dimensional array-like object representing a single column from a DataFrame. DataFrames are useful 
for working with structured, tabular data, while Series are suitable for handling one-dimensional data or 
extracting specific columns from a DataFrame.

In [ ]:
#Q5
Pandas provides a wide range of functions to manipulate and analyze data in a DataFrame. Here are 
some common functions that we can use:

1.head() and tail(): These functions allow you to view the first few rows (head()) or the last few 
                     rows (tail()) of a DataFrame. They are useful for quickly inspecting the data.

2.info(): This function provides a summary of the DataFrame, including the column names, data types,
          and non-null counts. It helps in understanding the structure of the DataFrame and 
          identifying missing values.

3.describe(): This function generates descriptive statistics of the numeric columns in the DataFrame, 
              such as count, mean, standard deviation, minimum, and maximum. It provides insights into 
              the distribution and basic statistics of the data.

4.value_counts(): This function returns the count of unique values in a specific column of the DataFrame.
                  It is useful for understanding the distribution of categorical variables or identifying 
                  the most common values.

5.sort_values(): This function allows you to sort the DataFrame based on one or more columns. It helps 
                 in ordering the data based on specific criteria.

6.groupby(): This function enables you to group the data based on one or more columns and perform 
             operations on each group. It is useful for aggregating data, calculating group-level
             statistics, or applying custom functions.

7.apply(): This function applies a given function to each element or column in the DataFrame. It 
           allows you to perform custom calculations or transformations on the data.

8.merge() and concat(): These functions are used for combining multiple DataFrames either by merging 
                        them based on common columns (merge()) or by concatenating them vertically or
                        horizontally (concat()). They are helpful for data integration and consolidation.

9.fillna(): This function is used to fill missing values in the DataFrame with a specified value or a 
            strategy like mean or median. It helps in handling missing data before analysis.

In [25]:
import pandas as pd

data = {'Product': ['A', 'B', 'A', 'B', 'C'],
        'Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing', 'Electronics'],
        'Sales': [100, 200, 150, 300, 250]}

df = pd.DataFrame(data)

category_sales = df.groupby('Category')['Sales'].sum()
print(category_sales)

Category
Clothing       500
Electronics    500
Name: Sales, dtype: int64

In [ ]:
In this example, the DataFrame df contains columns 'Product', 'Category', and 'Sales'. By using
groupby('Category')['Sales'].sum(), we group the data by the 'Category' column and calculate the 
sum of 'Sales' for each category. The resulting Series category_sales shows the total sales for 
each category.

In [ ]:
#Q6

Among the options provided, both the Series and DataFrame are mutable in nature in pandas, while
the Panel is not mutable.

In pandas, mutability refers to the ability to modify or change the underlying data structure
without creating a new object. Let's explore each of these options:

1.Series: A Series in pandas is mutable, meaning you can modify the elements, index labels, or other 
          attributes of a Series after it is created. For example, you can update the values of a Series, 
          change the index labels, or add/remove elements from the Series.

2.DataFrame: Similar to a Series, a DataFrame is also mutable. You can modify the values in individual 
             cells, add or remove columns, change column names, or update the index labels. Additionally, 
             you can perform various operations like merging, joining, and grouping on a DataFrame, 
             altering its structure or content.

3.Panel: A Panel is a three-dimensional data structure in pandas, but it is not mutable. The Panel 
         was removed as of pandas version 1.0.0, and its functionality has been integrated into other 
         data structures like the DataFrame and MultiIndex.

To summarize, both Series and DataFrame are mutable in pandas, while the Panel is not.

In [30]:
#Q7

import pandas as pd

name = pd.Series(['Alice', 'Bob', 'Claire'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Female', 'Male', 'Female'])

data = {'Name': name, 'Age': age, 'Gender': gender}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
In this example, we have three Series: name, age, and gender. Each Series represents a column in the 
DataFrame. We create a dictionary data where the keys are the column names ('Name', 'Age', 'Gender'), 
and the values are the corresponding Series.

Then, we pass the data dictionary as an argument to the pd.DataFrame() function, which creates the DataFrame df. 
Finally, we print the DataFrame using print(df).

The resulting DataFrame contains the data from the individual Series, with each Series mapped to its 
corresponding column. The index values are automatically generated starting from 0.